AI_AGENT_ENVIRONMENT=development
AI_AGENT_HOST=127.0.0.1
AI_AGENT_PORT=8080
AI_AGENT_DATA_ROOT=./data/development
AI_AGENT_DATABASE_URL=sqlite:///data/development/platform.db
AI_AGENT_OBJECT_ROOT=./data/development/objects
AI_AGENT_SECRET_PROVIDER=env
