AI_AGENT_ENVIRONMENT=test
AI_AGENT_HOST=127.0.0.1
AI_AGENT_PORT=18080
AI_AGENT_DATA_ROOT=./data/test
AI_AGENT_DATABASE_URL=sqlite:///data/test/platform.db
AI_AGENT_OBJECT_ROOT=./data/test/objects
AI_AGENT_SECRET_PROVIDER=env
